In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('tourist_numbers_Turkey.csv')
data.head()

,Date,ALMANYA,ARNAVUTLUK,AVUSTURYA,BELCIKA,BOSNAHERSEK,BULGARISTAN,CEKCUMHURIYETI,DANIMARKA,ESTONYA,...,TAYLAND,URDUN,YEMEN,DASYA,ASYATOP,AVUSTRALYA,YENIZELLANDA,OKYANUSYA,MILLIYESIZ,GTOPLAM
0,2008-01-01,17723300.0,281100.0,2020700.0,1238900.0,254600.0,9904800.0,182400.0,561300.0,42600.0,...,56300.0,278700.0,11600.0,292100.0,13698000.0,482300.0,49700.0,300.0,105600.0,91953900.0
1,2008-02-01,14366600.0,260400.0,1629500.0,1130900.0,234200.0,8270700.0,206400.0,546400.0,51500.0,...,51600.0,259400.0,29900.0,319100.0,15394600.0,325400.0,39400.0,1100.0,94700.0,85875100.0
2,2008-03-01,24979700.0,362600.0,2355800.0,2109700.0,295200.0,10287700.0,252400.0,1128800.0,69500.0,...,100300.0,328000.0,28700.0,407300.0,21571100.0,357100.0,59200.0,6900.0,123300.0,122156800.0
3,2008-04-01,24253100.0,321900.0,2266800.0,3077200.0,353900.0,11062700.0,419800.0,1087800.0,109800.0,...,108100.0,345500.0,33100.0,454700.0,22719100.0,1008400.0,224900.0,7000.0,130400.0,141149500.0
4,2008-05-01,39972400.0,415600.0,3226500.0,5048300.0,470900.0,14864200.0,928600.0,2600800.0,450800.0,...,100500.0,433600.0,44400.0,785400.0,25861000.0,1301100.0,260600.0,1100.0,148100.0,250999700.0

In [3]:
# Ä°lk birkaÃ§ satÄ±rÄ± gÃ¶rÃ¼ntÃ¼leme
print(data.head())

# Veri tiplerini kontrol etme
print(data.dtypes)

         Date     ALMANYA   ARNAVUTLUK   AVUSTURYA    BELCIKA   BOSNAHERSEK  \
0  2008-01-01  17723300.0     281100.0   2020700.0  1238900.0      254600.0
1  2008-02-01  14366600.0     260400.0   1629500.0  1130900.0      234200.0
2  2008-03-01  24979700.0     362600.0   2355800.0  2109700.0      295200.0
3  2008-04-01  24253100.0     321900.0   2266800.0  3077200.0      353900.0
4  2008-05-01  39972400.0     415600.0   3226500.0  5048300.0      470900.0

    BULGARISTAN   CEKCUMHURIYETI   DANIMARKA   ESTONYA  ...   TAYLAND  \
0     9904800.0         182400.0    561300.0   42600.0  ...   56300.0
1     8270700.0         206400.0    546400.0   51500.0  ...   51600.0
2    10287700.0         252400.0   1128800.0   69500.0  ...  100300.0
3    11062700.0         419800.0   1087800.0  109800.0  ...  108100.0
4    14864200.0         928600.0   2600800.0  450800.0  ...  100500.0

      URDUN    YEMEN     DASYA     ASYATOP   AVUSTRALYA   YENIZELLANDA  \
0  278700.0  11600.0  292100.0  13698000.0     482300.0        49700.0
1  259400.0  29900.0  319100.0  15394600.0     325400.0        39400.0
2  328000.0  28700.0  407300.0  21571100.0     357100.0        59200.0
3  345500.0  33100.0  454700.0  22719100.0    1008400.0       224900.0
4  433600.0  44400.0  785400.0  25861000.0    1301100.0       260600.0

    OKYANUSYA   MILLIYESIZ      GTOPLAM
0       300.0     105600.0   91953900.0
1      1100.0      94700.0   85875100.0
2      6900.0     123300.0  122156800.0
3      7000.0     130400.0  141149500.0
4      1100.0     148100.0  250999700.0

[5 rows x 103 columns]
Date              object
 ALMANYA         float64
 ARNAVUTLUK      float64
 AVUSTURYA       float64
 BELCIKA         float64
                  ...
 AVUSTRALYA      float64
 YENIZELLANDA    float64
 OKYANUSYA       float64
 MILLIYESIZ      float64
 GTOPLAM         float64
Length: 103, dtype: object

In [4]:
# SayÄ±sal olmayan verileri kontrol etme
non_numeric = data.select_dtypes(exclude='number')
print(non_numeric)

           Date
0    2008-01-01
1    2008-02-01
2    2008-03-01
3    2008-04-01
4    2008-05-01
..          ...
160  2021-05-01
161  2021-06-01
162  2021-07-01
163  2021-08-01
164  2021-09-01

[165 rows x 1 columns]

In [8]:
data.head()

,Date,ALMANYA,ARNAVUTLUK,AVUSTURYA,BELCIKA,BOSNAHERSEK,BULGARISTAN,CEKCUMHURIYETI,DANIMARKA,ESTONYA,...,TAYLAND,URDUN,YEMEN,DASYA,ASYATOP,AVUSTRALYA,YENIZELLANDA,OKYANUSYA,MILLIYESIZ,GTOPLAM
0,2008-01-01,17723300.0,281100.0,2020700.0,1238900.0,254600.0,9904800.0,182400.0,561300.0,42600.0,...,56300.0,278700.0,11600.0,292100.0,13698000.0,482300.0,49700.0,300.0,105600.0,91953900.0
1,2008-02-01,14366600.0,260400.0,1629500.0,1130900.0,234200.0,8270700.0,206400.0,546400.0,51500.0,...,51600.0,259400.0,29900.0,319100.0,15394600.0,325400.0,39400.0,1100.0,94700.0,85875100.0
2,2008-03-01,24979700.0,362600.0,2355800.0,2109700.0,295200.0,10287700.0,252400.0,1128800.0,69500.0,...,100300.0,328000.0,28700.0,407300.0,21571100.0,357100.0,59200.0,6900.0,123300.0,122156800.0
3,2008-04-01,24253100.0,321900.0,2266800.0,3077200.0,353900.0,11062700.0,419800.0,1087800.0,109800.0,...,108100.0,345500.0,33100.0,454700.0,22719100.0,1008400.0,224900.0,7000.0,130400.0,141149500.0
4,2008-05-01,39972400.0,415600.0,3226500.0,5048300.0,470900.0,14864200.0,928600.0,2600800.0,450800.0,...,100500.0,433600.0,44400.0,785400.0,25861000.0,1301100.0,260600.0,1100.0,148100.0,250999700.0

In [5]:
# Temel istatistikleri hesaplama
stats = data.describe()
print(stats)

            ALMANYA    ARNAVUTLUK     AVUSTURYA       BELCIKA   BOSNAHERSEK  \
count  1.650000e+02  1.650000e+02  1.650000e+02  1.650000e+02  1.650000e+02
mean   3.595753e+07  6.495339e+05  3.498824e+06  4.344815e+06  6.686321e+05
std    2.347812e+07  3.809939e+05  2.929719e+06  3.721033e+06  4.507163e+05
min    1.740000e+05  5.340000e+04  1.150000e+04  1.260000e+04  4.770000e+04
25%    1.481080e+07  3.823000e+05  1.571900e+06  1.358800e+06  3.810000e+05
50%    3.277280e+07  5.233000e+05  2.355800e+06  3.181300e+06  5.396000e+05
75%    5.198490e+07  8.528000e+05  4.325100e+06  5.441500e+06  8.710000e+05
max    9.459020e+07  2.055600e+06  1.452050e+07  1.584200e+07  2.838500e+06

        BULGARISTAN   CEKCUMHURIYETI     DANIMARKA       ESTONYA  \
count  1.650000e+02     1.650000e+02  1.650000e+02  1.650000e+02
mean   1.412762e+07     1.479748e+06  2.577336e+06  3.646770e+05
std    5.119292e+06     1.614864e+06  2.241254e+06  3.133718e+05
min    6.562000e+05     3.500000e+03  4.200000e+03  1.000000e+02
25%    1.090590e+07     2.863000e+05  6.760000e+05  8.500000e+04
50%    1.415340e+07     6.022000e+05  1.878600e+06  3.078000e+05
75%    1.654540e+07     2.526700e+06  3.992500e+06  5.711000e+05
max    3.004440e+07     7.339600e+06  8.636700e+06  1.587400e+06

         FINLANDIYA  ...       TAYLAND         URDUN         YEMEN  \
count  1.650000e+02  ...  1.650000e+02  1.650000e+02     165.00000
mean   1.181257e+06  ...  1.766012e+05  1.526644e+06  150910.30303
std    9.548221e+05  ...  1.722806e+05  1.579652e+06  108814.75455
min    1.900000e+03  ...  7.000000e+02  8.700000e+03     800.00000
25%    3.232000e+05  ...  6.810000e+04  5.451000e+05   59500.00000
50%    1.034800e+06  ...  1.182000e+05  9.542000e+05  126500.00000
75%    1.826800e+06  ...  2.333000e+05  1.826900e+06  229800.00000
max    3.889900e+06  ...  1.019700e+06  9.265500e+06  570200.00000

              DASYA       ASYATOP    AVUSTRALYA   YENIZELLANDA     OKYANUSYA  \
count  1.650000e+02  1.650000e+02  1.650000e+02     165.000000     165.00000
mean   1.354098e+06  4.080129e+07  1.058582e+06  179712.121212    7069.69697
std    1.113537e+06  2.072857e+07  8.775521e+05  148703.585006   28050.21939
min    1.613000e+05  1.167100e+06  4.300000e+03     400.000000     100.00000
25%    6.094000e+05  2.684090e+07  3.571000e+05   57900.000000    1400.00000
50%    9.390000e+05  3.769000e+07  7.551000e+05  119600.000000    2600.00000
75%    1.549800e+06  4.987400e+07  1.681300e+06  299700.000000    4900.00000
max    6.120800e+06  1.328552e+08  4.060000e+06  558200.000000  282000.00000

         MILLIYESIZ       GTOPLAM
count  1.650000e+02  1.650000e+02
mean   3.716103e+05  2.549121e+08
std    2.529696e+05  1.459476e+08
min    7.000000e+03  5.063000e+06
25%    1.936000e+05  1.333541e+08
50%    2.951000e+05  2.096105e+08
75%    4.578000e+05  3.642977e+08
max    1.470300e+06  7.018257e+08

[8 rows x 102 columns]

In [13]:
# SÃ¼tun adlarÄ±nÄ± kontrol et
print(data.columns)

Index(['Date', ' ALMANYA', ' ARNAVUTLUK', ' AVUSTURYA', ' BELCIKA',
       ' BOSNAHERSEK', ' BULGARISTAN', ' CEKCUMHURIYETI', ' DANIMARKA',
       ' ESTONYA',
       ...
       ' TAYLAND', ' URDUN', ' YEMEN', ' DASYA', ' ASYATOP', ' AVUSTRALYA',
       ' YENIZELLANDA', ' OKYANUSYA', ' MILLIYESIZ', ' GTOPLAM'],
      dtype='object', length=103)

In [11]:
data.iloc[:,1:]=((data.iloc[:,1:])/100).astype('int')

In [12]:
data.head(10)

,Date,ALMANYA,ARNAVUTLUK,AVUSTURYA,BELCIKA,BOSNAHERSEK,BULGARISTAN,CEKCUMHURIYETI,DANIMARKA,ESTONYA,...,TAYLAND,URDUN,YEMEN,DASYA,ASYATOP,AVUSTRALYA,YENIZELLANDA,OKYANUSYA,MILLIYESIZ,GTOPLAM
0,2008-01-01,177233.0,2811.0,20207.0,12389.0,2546.0,99048.0,1824.0,5613.0,426.0,...,563.0,2787.0,116.0,2921.0,136980.0,4823.0,497.0,3.0,1056.0,919539.0
1,2008-02-01,143666.0,2604.0,16295.0,11309.0,2342.0,82707.0,2064.0,5464.0,515.0,...,516.0,2594.0,299.0,3191.0,153946.0,3254.0,394.0,11.0,947.0,858751.0
2,2008-03-01,249797.0,3626.0,23558.0,21097.0,2952.0,102877.0,2524.0,11288.0,695.0,...,1003.0,3280.0,287.0,4073.0,215711.0,3571.0,592.0,69.0,1233.0,1221568.0
3,2008-04-01,242531.0,3219.0,22668.0,30772.0,3539.0,110627.0,4198.0,10878.0,1098.0,...,1081.0,3455.0,331.0,4547.0,227191.0,10084.0,2249.0,70.0,1304.0,1411495.0
4,2008-05-01,399724.0,4156.0,32265.0,50483.0,4709.0,148642.0,9286.0,26008.0,4508.0,...,1005.0,4336.0,444.0,7854.0,258610.0,13011.0,2606.0,11.0,1481.0,2509997.0
5,2008-06-01,364145.0,4862.0,44762.0,54415.0,6093.0,142896.0,22824.0,29591.0,4649.0,...,779.0,7329.0,426.0,6653.0,318286.0,13024.0,2687.0,11.0,1979.0,2902948.0
6,2008-07-01,519849.0,9718.0,69174.0,102714.0,8854.0,149194.0,30617.0,62271.0,5602.0,...,773.0,15335.0,635.0,9522.0,401268.0,15074.0,3337.0,17.0,3641.0,3545795.0
7,2008-08-01,728774.0,12534.0,145205.0,130769.0,9554.0,151924.0,29955.0,54233.0,4944.0,...,954.0,16285.0,1005.0,8416.0,481723.0,17875.0,2842.0,36.0,4499.0,4450081.0
8,2008-09-01,536884.0,8984.0,49996.0,79138.0,5396.0,162861.0,29933.0,29362.0,4904.0,...,780.0,2881.0,261.0,5931.0,258766.0,18352.0,3450.0,26.0,2076.0,3286998.0
9,2008-10-01,601367.0,3890.0,41668.0,50641.0,5870.0,124976.0,19544.0,31031.0,4675.0,...,1331.0,6945.0,473.0,7562.0,328595.0,16315.0,3346.0,11.0,2394.0,2839973.0

In [14]:
# DoÄŸru sÃ¼tun adÄ±yla grafik oluÅŸturma
plt.figure(figsize=(12, 6))
sns.lineplot(data=data, x='Date', y='Almanya', label='Almanya')
plt.title('Almanya Verisinin Zaman Ä°Ã§indeki Trendi')
plt.xlabel('Tarih')
plt.ylabel('DeÄŸer')
plt.legend()
plt.show()

ValueError: Could not interpret value `Almanya` for `y`. An entry with this name does not appear in `data`.

In [15]:
data.describe()

,Date,ALMANYA,ARNAVUTLUK,AVUSTURYA,BELCIKA,BOSNAHERSEK,BULGARISTAN,CEKCUMHURIYETI,DANIMARKA,ESTONYA,...,TAYLAND,URDUN,YEMEN,DASYA,ASYATOP,AVUSTRALYA,YENIZELLANDA,OKYANUSYA,MILLIYESIZ,GTOPLAM
count,165,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,165.000000,...,165.000000,165.000000,165.000000,165.000000,1.650000e+02,165.000000,165.000000,165.000000,165.000000,1.650000e+02
mean,2014-10-31 13:49:05.454545408,359575.284848,6495.339394,34988.242424,43448.145455,6686.321212,141276.169697,14797.478788,25773.363636,3646.769697,...,1766.012121,15266.436364,1509.103030,13540.981818,4.080129e+05,10585.824242,1797.121212,70.696970,3716.103030,2.549121e+06
min,2008-01-01 00:00:00,1740.000000,534.000000,115.000000,126.000000,477.000000,6562.000000,35.000000,42.000000,1.000000,...,7.000000,87.000000,8.000000,1613.000000,1.167100e+04,43.000000,4.000000,1.000000,70.000000,5.063000e+04
25%,2011-06-01 00:00:00,148108.000000,3823.000000,15719.000000,13588.000000,3810.000000,109059.000000,2863.000000,6760.000000,850.000000,...,681.000000,5451.000000,595.000000,6094.000000,2.684090e+05,3571.000000,579.000000,14.000000,1936.000000,1.333541e+06
50%,2014-11-01 00:00:00,327728.000000,5233.000000,23558.000000,31813.000000,5396.000000,141534.000000,6022.000000,18786.000000,3078.000000,...,1182.000000,9542.000000,1265.000000,9390.000000,3.769000e+05,7551.000000,1196.000000,26.000000,2951.000000,2.096105e+06
75%,2018-04-01 00:00:00,519849.000000,8528.000000,43251.000000,54415.000000,8710.000000,165454.000000,25267.000000,39925.000000,5711.000000,...,2333.000000,18269.000000,2298.000000,15498.000000,4.987400e+05,16813.000000,2997.000000,49.000000,4578.000000,3.642977e+06
max,2021-09-01 00:00:00,945902.000000,20556.000000,145205.000000,158420.000000,28385.000000,300444.000000,73396.000000,86367.000000,15874.000000,...,10197.000000,92655.000000,5702.000000,61208.000000,1.328552e+06,40600.000000,5582.000000,2820.000000,14703.000000,7.018257e+06
std,NaN,234781.205792,3809.938949,29297.193098,37210.334934,4507.163005,51192.917638,16148.641303,22412.540912,3133.717526,...,1722.805685,15796.523585,1088.147546,11135.370610,2.072858e+05,8775.520819,1487.035850,280.502194,2529.696069,1.459476e+06

Data Query and Visualization

In [16]:
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [19]:
c_final=continents.sum().nlargest(3)

KeyError: "None of [Index(['date', 'ohter europe', 'europen', 'sum of cis', 'other america',\n       'america', 'other africa', 'africa', 'other asia', 'asia'],\n      dtype='object')] are in the [columns]"